Webpack (imports/exports)
    Babel
    Scss
    Eslint
    Modes
        -Dev
            Dev-Server, SourcePaps, Eslint, Not-Minified JS & CSS
        -Prod
            Minified-Code
Git
    Production
    Development