@mixin button($color: green){
  height: 23px;
  min-width: 23px;
  padding: 3px;
  text-align: center;
  position: relative;
  display: inline-block;
  color: rgba(5,5,5, .6);
  & i {
    font-size: 18px;
  }
  &:active, &.active {
    color: $color;
  }
  &:hover {
    background: #ccc;
    cursor: pointer;
  }
}
@mixin clear-list(){
  list-style: none;
  margin: 0;
  padding: 0;
}