@import "variables";
@import "mixins";
.dashboard{
  &__header{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: $dashboard-header-height;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-bottom: 1px solid $border-color;
    z-index: 1000;
  }
  &__new{
    margin-top: $dashboard-header-height;
    padding: 1.5rem;
    background: #e7e7e7;
  }
  &__create{
    width: 160px;
    height: 140px;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #e7e7e7;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    text-decoration: none;
    color: #111;
    text-align: center;
    &:hover{
      cursor: pointer;
      color: mediumseagreen;
      border-color: mediumseagreen;
    }
  }
  &__view{
    max-width: 1000px;
    margin: 0 auto;
  }
  &__table{
    padding: 1rem;
  }
  &__header-list{
    display: flex;
    justify-content: space-between;
    color: dodgerblue;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 0 12px;
  }
  &__list{
    @include clear-list()
  }
  &__record{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px 12px;
    margin-bottom: 6px;
    &:hover{
      background: #e7e7e7;
      border-radius: 25px;
    }
    a {
      text-decoration: none;
      cursor: pointer;
      color: mediumseagreen;
      font-size: 13px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}